@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* this is a comment and this is how you write a comment. It can be single line & multi */ 
/* CSS syntax */ 

/*
selector { 
  property: value; 
  property: value; 
}

*/


p { 
 font-size: 1em; /*16 px is an exact amount, points are NOT the same. 1em = 16px*/
 line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;  
  font-size: 0.75em;
  line-height: 1.5em; 
  font-family: Georgia, "New Times Roman", serif; */
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive; 
  color: rgba(127, 21, 25);
  text-align: right; 
}


/* Class selectors(can be applied to as many elements as you like) */ 

.milk-text { 
/*will select elements with a class attribute to milk-text */ 
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000; 
}


/*ID selector (apply to only one unique element per page) */ 

#logo { 
  background-color: aqua; 
}

/* Descendant Selector */ 

#logo h1 { 
  /*selects what is inside the ID logo */ 
  font-family: 'Clicker Script', cursive; 
  
}

#logo h2 { 
  /*selects what is inside the ID logo */ 
  font-family: 'Elsie Swash Caps', cursive; 
}

/*Psuedo Selector - descendant (a) and Psuedo is link */ 

#details a:link, #details a:link { 
  color: black;
  text-decoration:none; 
}

#details a:hover { 
  color: black;
  text-decoration: underline; 
}

#details a:active { 
  color: red;
  text-decoration: underline; 
}


